#header-hr{
  transform: translateY(-30px);
}

 
/* NAVBAR */
.mint-btn{
  background-color: #61C9A8;
}
.navbar-nav {
  flex-direction: row;
}

.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}
.nav-item{
  padding: 1.5rem;
}
.not-nav-button{
  transform: translateY(10px);
}

/* LANDING PAGE */
  #transform {
    text-align: center;

}

#landing-card-1 {
    width: 60%;
}

#landing-card-2 {
    width: 50%;
    float: right;
}

.br-18 {
    border-radius: 18px;
}

/* MENTOR SECTION */
.mentor-card{
  background: #F5FFFD;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
}